footer.padding--both-1.space--top-2
  .wrap--width-full.wrap--double-gutter.milli
    .or
      .or__item
        .formatted-content.color--light
          = ["Un progetto speciale di",
            (link_to "Cantiere Creativo",
            "https://www.cantierecreativo.net",
            target: "_blank"),
            "realizzato con",
            (link_to "DatoCMS",
              "https://www.datocms.com",
              target: "_blank")].join(" ")

      .or__item
        .formatted-content.color--light
          = ["Read our",
            (link_to "journey through Lean UX",
              "https://uxplanet.org/one-year-of-lean-ux-68027e5a7214",
              target: "_blank")].join(" ")
