footer.padding--both-1.space--top-2
  .wrap--width-full.wrap--double-gutter.smallprint
    .formatted-content.color--light.align--center-left
      = ["Un progetto speciale di",
        (link_to "Cantiere Creativo",
        "https://www.cantierecreativo.net",
        target: "_blank"),
        "realizzato con",
        (link_to "DatoCMS",
          "https://www.datocms.com",
          target: "_blank")].join(" ")
