$white-color: #FFFFFF
$black-color: #434343
$gray-color: #949494
$gray-l-color: #e3e3e3
$gray-xl-color: #fcfcfc

$green-asparagus-color: #8BB174
$fresh-blue-color: #758BD5
$salmon-red-color: #FF8E72
$light-french-beige-color: #C69F89
$soft-orange-color: #D9B26F
$royal-purple-color: #7D5BA6
$strong-pink-color: #CA054D
$cadet-grey-color: #95A3A4
$brown-sugar-color: #B07156
$pastel-pink-color: #DAA89B
$pale-violet-color: #CAA8F5
$desert-sand-color: #D8CFAF
$soft-yellow-color: #F2DC5D
$slate-blue-color: #6369D1
$green-avocado-color: #447604

$yellow-color: #C8CC92

$base-body-color: $black-color
$light-body-color: $gray-color
$rev-body-color: $white-color

$light-bg-color: $gray-xl-color

$border-color: $gray-l-color
$alert-color: #de0017
$notice-color: #079acc
$primary-color: #7f30d9
